.flecha-atras{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nombre-producto{
  width: 290px;
}

#descripcion-producto{
  width: 440px;
}

#map {
  height: 400px;
  width: 100%;
}
