/*GENERALES*/
body{
  background-color: #ECECEC;
  font-family: ‘Ubuntu’, sans-serif;
}

.texto-negro{
  color: #000000;
}

.texto-blanco{
  color: #FFFFFF;
}

.texto-azul{
  color: #3D76E4;
}

.texto-gris--oscuro{
  color: #807F80;
}

.fondo-azul{
  background-color: #3D76E4;
}

.fondo-gris{
  background-color: #ECECEC;
}

.fondo-blanco{
  background-color: #FFFFFF;
}

.fondo-gris--oscuro{
  background-color: #807F80;
}

/*NAVEGADOR*/
.img-logo-texto{
  width: 60px;
  height: 60px;
}

/*catálogo*/
.imagen-producto{
width: 10%;
height: 10%;
float: left;
}

.card{
  width: 90%;
  height: 40%;
}
