<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Detalle Producto</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<link rel="stylesheet" href="../css/detalle-producto.css">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/logo.png">
</head>
<body>
	<!--EMPIEZA EL NAV-->
	<div class="navbar-fixed">
		<nav class="fondo-azul">
			<div class="nav-wrapper">
				<a href=home.html class="">
					<img class="img-logo-texto left" src="../assets/img/logo.png" alt="logo">
					Lagbay
				</a>
				<ul class="right">
					<li><a href=login.html class="waves-effect waves-light btn fondo-gris black-text">INGRESAR<a></li>
		        </ul>
		    </div>
		 </nav>
  	</div>
  <!--TERMINA EL NAV-->
   <div class="producto">
	<div class="container row fondo-blanco">
	  <h1 class="left-align texto-azul"><b>DETALLES</b></h1>
		<h3 class="texto-negro"><b>CÁMARA CANON<br> DSLR EOS</b></h3>
		<h4 class="texto-azul">Precio Actual <span>$100</span></h4>
		<h4 class="texto-gris--oscuro">Precio Inicio <span>$100</span></h4>


			<div class="carousel">
  		  <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/2"></a>
						<a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
						<a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
						<a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
						<a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
			</div>
			<div class="row container">
				<div class="col s12">
					<ul class="collapsible" data-collapsible="accordion">
						<li class="">
							<div class="collapsible-header fondo-azul texto-blanco"><b>D E T A L L E S :</b></div>
							<div class="collapsible-body fondo-blanco"><span>
DESCRIPCIÓN
Cámara DSLR de la marca Canon, <br>Cuenta con una resolución de 18 MP, <br>Sensor CMOS y un lente 18 - 55 mm. <br>Toma fotos con la calidad que necesitas, puedes tomar fotos aún con poca luz. Tiene conexión inalámbrica por medio de Wi Fi y NFC, con la posibilidad de compartir tus fotos a tus redes sociales. <br>Disponible en color negro.</span></div>
						</li>
					</ul>
				</div>

	<div class="container row ">
	  <h3 class=" texto-gris--oscuro center"><b>DETALLES</b></h3>
	  <!-- INFORMACIÓN PRODUCTO  -->
	  <div class="container">
		<h5 class="texto-negro"><b>CÁMARA CANON<br> DSLR EOS</b></h5>
  		<h6 class="texto-azul">Precio Actual <span>$100</span></h6>
  		<h6 class="texto-gris--oscuro">Precio Inicio <span>$100</span></h6>
		<!-- carrusel -->
		<div class="carousel row mt-010 center">
			<a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/2"></a>
			<a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
			<a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
			<a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
			<a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
		</div>
		<!-- DESCRIPCION -->
		<div class="row">
			<div class="col s12">
				<ul class="collapsible" data-collapsible="accordion">
					<li class="">
						<div class="collapsible-header fondo-azul texto-blanco center-align"><b>D E S C R I P C I Ó N</b></div>
						<div class="collapsible-body fondo-gris">
							<span >
								Cámara DSLR de la marca Canon. Cuenta con
								una resolución de 18 MP, Sensor CMOS y un
								lente 18 - 55 mm. Toma fotos con la calidad
								que necesitas, puedes tomar fotos aún con poca luz.
								Tiene conexión inalámbrica por medio de Wi Fi y NFC,
								con la posibilidad de compartir tus fotos a tus redes
								sociales. Disponible en color negro.
							</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- Termina descripcion -->
	  </div>
	</div>
	<!--  Sección Ofertar-->
	<section class="container">
		<div class="row center-align">
			<h4>Precio Actual <span>$100</span></h4>
		</div>
		<div class="row center-align">
			<div class="offset-s1 col s10">
				<div class="file-field ">
						<button type="button" name="button" class="btn fondo-gris--oscuro col s4">
							OFERTAR
						</button>
					<div class="file-path-wrapper">
						<input class="validate" type="text">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Mapa-->
	<div class="row center-align">
		<div class="offset-s1 col s10">
			<h3>Ubicación</h3>
			<div id="map"></div>
		</div>
	 </div>
</div>s
 

	<!--footer-->
	<footer class="center-align fondo-azul">
			<b>© 2017 Copyright </b>
	</footer>
	<!--termina footer-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4iymXK1ONZLyM23PI4ne3-pjxXFQD6ZM&callback=initMap"
    async defer></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	<script src="../detalleproducto.js"></script>
	<script type="text/javascript" src="../js/detalle-productoapi.js"></script>

</body>

</html>
