<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href=“https://fonts.googleapis.com/css?family=Ubuntu” rel=“stylesheet”>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/logo.png">
  <link rel="stylesheet" href="../css/home.css">
  <title>Lagbay</title>
</head>

<body>

  <!--EMPIEZA EL NAV-->
  <div class="navbar-fixed">
    <nav class="fondo-azul">
      <div class="nav-wrapper">
        <a href=home.html class="brand-logo"><img class="img-logo-texto" src="../assets/img/logo.png" alt=""></a>
        <ul class="right hide-on-med-and-down">
          <li><a href=login.html class="waves-effect waves-light btn fondo-azul">INGRESA<a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!--TERMINA EL NAV-->

  <!-- BOTÓN SUBASTAR-->
  <div class="container row center-align fondo-blanco">
    <h3 class="texto-azul"><b>SUBASTAS EN VIVO</b></h3>
  </div>
  <div class="container row center-align">
    <div class="col s12">
      <a href=formulario-producto.html class="waves-effect waves-light btn-large fondo-azul"><b>S U B A S T A R</b></a>
    </div>
  </div>
  <!--FIN BOTON-->

  <!--EMPIEZA CATÁLOGO SCROLL INFINITO-->
  <div class="container row center-align fondo-blanco">
    <div class="col s12 center-align">
      <div class="card center-align">
        <div class="card-image">
          <img src="../assets/img/camara.jpg">
          <span class="card-title texto-azul">CÁMARA CANON</span>
        </div>
        <div class="card-content left-align">
          <h5>Cámara DSLR EOS</h5><br>
          <span class="left-align texto-gris--oscuro">PRECIO INICIO: $1,000<br></span>
          <span class="right-align texto-azul">PRECIO ACTUAL: $1,200<br></span>
          Subasta Termina en: <span class="texto-azul">5 días 3 hrs</span>.<br>
          Código de artículo: 1894C003</p>
        </div>
        <div class="card-action">
          <a href=detalle-producto.html class="waves-effect waves-light btn fondo-gris--oscuro">IR A SUBASTA<a></li>
        </div>
      </div>
    </div>
  </div>
  <!--TERMINA IMAGENES SCROLL INFINITO-->

  <!--footer-->
  <footer class="page-footer fondo-azul center-align">
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright
      </div>
    </div>
  </footer>
  <!--termina footer-->


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

</html>
